# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.o
*.app
!*.*

# LLVM files
*.ll
*.bc

# GCC
GCC-12.2.0/

# unrelated projects
cheetah/
cmake/
cilkbench/
pbbsbench/
uli-runtime/
uli-opencilk-project/

# venv
test/venv/
